---
cacheable: false
attributes:
  csc_cores:
      value: 1
      max: 4
  csc_slurm_partition:
    value: "interactive"
    select:
      - "interactive"
  csc_memory:
      min: 2
      value: 2
  csc_time:
    value: "08:00:00"
  tmuxconf:
    label: "Use custom tmux.conf"
    help: "If not selected, user .tmux.conf will be ignored"
    widget: "check_box"
  csc_extra_desc:
    desc: |
      <a href="https://docs.csc.fi/computing/webinterface/#shell" target="_blank">Documentation</a>

      The shell / ssh session will stay open and any programs started there will stay running
      even if internet connection is lost or the browser tab is closed. The session will end if
      it's explicitly closed by the user, e.g running `exit` or pressing `Ctrl+D`.
  csc_reset_cache:
    app: "sys/ood-persistent-ssh"

form:
  - csc_extra_desc
  - csc_slurm_reservation
  - csc_slurm_project
  - csc_slurm_partition
  - csc_header_resources
  - csc_cores
  - csc_memory
  - csc_nvme
  - csc_time
  - csc_header_settings
  - tmuxconf
  - csc_reset_cache
  - csc_slurm_limits
