<form action="/pun/sys/shell/ssh/<%= host %>" method="get" target="_blank">
  <button class="btn btn-primary" type="submit">
     <i class="fa fa-eye"></i> Connect to SSH session
  </button>
  </div>
</form>
